
.bg-primary{
  background-color: #22C55E;
}
.text-primary{
  color: #22C55E;
}

.dli:hover ~ span{
  color: #22C55E;
}

.zoom{
  animation: zoom 0.2s;
}

@keyframes zoom {
  from{
    transform: scale(0.5);
  }
  to{
    transform: scale(1);
  }
}